<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rentrust.id.edtrust">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-2267434843946816/7215391567" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".siswa.materi.VideoPlayer"></activity>
        <activity
            android:name=".siswa.materi.Materi"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".siswa.profile.ChangePassword"
            android:label="Change password"
            android:theme="@style/AppThemeEditor" />
        <activity android:name=".siswa.profile.Profile" />
        <activity android:name=".siswa.history.History" />
        <activity android:name=".siswa.nilai.Nilai" />
        <activity android:name=".siswa.tugas.worker.TugasSelesai" />
        <activity android:name=".siswa.tugas.worker.OnWork" />
        <activity android:name=".siswa.tugas.worker.TugasPage" />
        <activity
            android:name=".siswa.tugas.Tugas"
            android:label="Tugas"
            android:theme="@style/AppThemeEditor" />
        <activity android:name=".siswa.room.MyRoom" />
        <activity android:name=".siswa.Siswa" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="Form Login"
            android:theme="@style/AppThemeLogin" />
    </application>

</manifest>